.NewTodoForm {
  margin-bottom: 10px;
  background-color: olivedrab;
  padding: 10px;
}
.NewTodoForm-form input {
  margin-left: 20px;
  margin-right: 5px;
  padding: 10px;
  border-radius: 3px;
  width: 200px;
}
form button {
  padding: 10px;
  border-radius: 3px;
  width: 50px;
}
form label {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}
