.Todo {
  /* margin: auto; */
  display: flex;
  background-color: rgba(211, 211, 211, 0.281);
  width: 460px;
  margin-bottom: 1px;
  justify-content: space-between;
  padding-right: 40px;
}
.Todo-item {
  padding: 10px 0 10px 40px;
  color: white;
  text-transform: capitalize;
  /* text-decoration: line-through; */
}

.Todo-btn {
  display: flex;
}
.Todo button {
  margin-left: 3px;
  color: white;
  border: none;
  background-color: transparent;
}
.Todo button:hover {
  color: #0044ff;
  cursor: pointer;
}
